body {
    margin: 0;
    padding: 0;
}
.top {
    display: flex;
    height: 66vh;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    background-color: black;

}
    .test {
        width: 150px;
        height: 150px;
        background-color: aqua;
    }
.bottom {
    height: 34vh;
    width: 100%;
    background-color: white;
}
